{% extends 'base.html' %}

{% set active_page = 'new_item' %}

{% block title %} Add New Item | {% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Add new Item</h1> <hr>
    <form action="{{ url_for('new_item') }}" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.price.label }}
        {{ form.price(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="form-control", rows="3") }}
      </div>
      <hr>
      {{ form.submit(class="form-control btn btn-primary") }}
    </form>
  </div>
</div>

{% endblock %}